body {
	background-image: url("backgr.jpg");
}
.btn-primary {
	height: 50px !important;
	width: 50px !important;
	border-radius: 0 !important;
}

.game-container {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.fix {
	width: 150px !important;
	text-align: center;
}

.new-game {
	text-align: center;
}

input {
 border: none;
 text-align: center;
}

.windiv {
	text-align: center;
}
